<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cpnvisualsystem.mapper.ClusterInfoMapper">
    <resultMap id="BaseResultMap" type="org.cpnvisualsystem.entity.ClusterInfo">
        <id column="id" property="id" />
        <result column="cluster_code" property="clusterCode" />
        <result column="coverage_area" property="coverageArea" />
        <result column="train_count" property="trainCount" />
    </resultMap>

    <sql id="Base_Column_List">
        id, cluster_code, coverage_area, train_count
    </sql>

    <select id="countClusters" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM cluster_info
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM cluster_info
        WHERE id = #{id}
    </select>

    <select id="selectAllClusters" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM cluster_info
    </select>
</mapper>