<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cpnvisualsystem.mapper.ComputeNodesMapper">
    <select id="selectById" resultType="org.cpnvisualsystem.entity.ComputeNodes">
        SELECT * FROM compute_nodes WHERE id = #{id}
    </select>

    <!-- 根据车厢ID获取设备列表 -->
    <select id="selectDevicesByCarriageId" resultType="org.cpnvisualsystem.entity.ComputeNodes">
        SELECT * FROM compute_nodes WHERE carriage_id = #{carriageId}
    </select>

    <select id="countDevicesByCarriageId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM compute_nodes WHERE carriage_id = #{carriageId}
    </select>

    <select id="countAllDevices" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM compute_nodes
    </select>

    <select id="countOnlineDevices" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM compute_nodes WHERE status = 'READY'
    </select>
</mapper>