<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cpnvisualsystem.mapper.ComputeNodesMapper">
    <select id="selectById" resultType="org.cpnvisualsystem.entity.ComputeNodes">
        SELECT * FROM compute_nodes WHERE id = #{id}
    </select>

    <!-- 根据车厢ID获取设备列表 -->
    <select id="selectDevicesByCarriageId" resultType="org.cpnvisualsystem.entity.ComputeNodes">
        SELECT DISTINCT n.*
        FROM compute_nodes n
                 JOIN compute_power_tag t
                      ON CAST(n.id AS CHAR) COLLATE utf8mb4_unicode_ci = t.node_id COLLATE utf8mb4_unicode_ci
        WHERE t.carriage = #{carriageId}
    </select>

    <select id="countDevicesByCarriageId" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT n.id)
        FROM compute_nodes n
                 JOIN compute_power_tag t
                      ON CAST(n.id AS CHAR) COLLATE utf8mb4_unicode_ci = t.node_id COLLATE utf8mb4_unicode_ci
        WHERE t.carriage = #{carriageId}
    </select>
</mapper>