<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cpnvisualsystem.mapper.TaskInfoMapper">
    <select id="selectTasksByDeviceId" resultType="org.cpnvisualsystem.entity.TaskInfo">
        SELECT * FROM task_info WHERE source_device = #{deviceId}
    </select>

    <select id="selectTasksByCarriageId" resultType="org.cpnvisualsystem.entity.TaskInfo">
        SELECT * FROM task_info WHERE source_carriage = #{carriageId}
    </select>

    <select id="selectTasksByTrainId" resultType="org.cpnvisualsystem.entity.TaskInfo">
        SELECT t.* FROM task_info t
                            JOIN carriage_info c ON t.source_carriage = c.id
        WHERE c.train_id = #{trainId}
    </select>

    <select id="selectTasksByClusterId" resultType="org.cpnvisualsystem.entity.TaskInfo">
        SELECT t.* FROM task_info t
                            JOIN carriage_info c ON t.source_carriage = c.id
                            JOIN train_info tr ON c.train_id = tr.id
        WHERE tr.cluster_id = #{clusterId}
    </select>
</mapper>