<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cpnvisualsystem.mapper.TrainInfoMapper">

    <select id="countTrains" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM train_info
    </select>

    <select id="selectById" resultType="org.cpnvisualsystem.entity.TrainInfo">
        SELECT *
        FROM train_info
        WHERE id = #{id}
    </select>

    <select id="selectTrainsByClusterId" resultType="org.cpnvisualsystem.entity.TrainInfo">
        SELECT *
        FROM train_info
        WHERE cluster_id = #{clusterId}
    </select>

</mapper>